<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trivia Game</title>
  </head>
  <body>
    <div class="quiz-container">
      <header class="header">
        <h1 class="header-title">Trivia Quiz</h1>
        <h2 class="header-category">Category: Animals</h2>
        <div class="header-score-container">
          <p class="header-score">Score: 1/5</p>
        </div>
      </header>
      <main class="main">
        <p class="main-question">What does XML stand for?</p>
        <div class="main-answer-container">
          <button class="main-button">
            <p class="main-answer">extended Markup Language</p>
            <p class="main-answer">Icon</p>
          </button>

          <button class="main-button">
            <p class="main-answer">extended Markup Language</p>
            <p class="main-answer">Icon</p>
          </button>

          <button class="main-button">
            <p class="main-answer">extended Markup Language</p>
            <p class="main-answer">Icon</p>
          </button>

          <button class="main-button">
            <p class="main-answer">extended Markup Language</p>
            <p class="main-answer">Icon</p>
          </button>
        </div>
      </main>
      <aside class="aside">
        <p class="aside-question-count">1 of 9 questions</p>
        <button class="aside-next">Next</button>
      </aside>
    </div>
  </body>
</html>
