<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trivia Game</title>
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/general.css" />
  </head>
  <body>
    <!-- hide-quiz-content hide-game-settings hide-start-screen show-quiz-content show-game-settings show-start-screen -->
    <div class="quiz-container">
      <div class="starting-screen">
        <h1 class="starting-screen-title">Trivia Quiz</h1>
        <button class="starting-screen-btn">START</button>
      </div>

      <form action="/api/gameSettings" method="post" class="form">
        <label for="easy-input">Difficulty</label>
        <!-- select-easy select-medium select-hard -->
        <div class="difficulty-inputs">
          <label for="easy-input" class="difficulty-label">
            <input
              class="difficulty-input"
              type="radio"
              id="easy-input"
              name="difficulty"
              value="easy"
            />
            <p class="difficulty-name">Easy</p>
          </label>
          <label for="medium-input" class="difficulty-label">
            <input
              class="difficulty-input"
              type="radio"
              id="medium-input"
              name="difficulty"
              value="medium"
            />
            <p class="difficulty-name">Medium</p>
          </label>
          <label for="hard-input" class="difficulty-label">
            <input
              class="difficulty-input"
              type="radio"
              id="hard-input"
              name="difficulty"
              value="hard"
            />
            <p class="difficulty-name">Hard</p>
          </label>
        </div>
        <label for="num-questions-input">Number of Questions</label>
        <div class="num-questions-container">
          <button class="num-questions-btn" type="button" id="decrease-btn">
            -
          </button>
          <input
            id="num-questions-input"
            name="numQuestions"
            type="number"
            class="num-questions-input"
            value="5"
          />
          <button class="num-questions-btn" type="button" id="increase-btn">
            +
          </button>
        </div>
        <label for="category-input">Category</label>
        <select name="category" id="category-input" class="category-select">
          <button>
            <selectedcontent></selectedcontent>
          </button>
          <option class="category-option" value="9">
            <img
              class="category-img"
              src="https://img.icons8.com/3d-fluency/94/brain.png"
              alt="General Knowledge"
            />
            <div>General Knowledge</div>
          </option>
          <option class="category-option" value="10">
            <img
              class="category-img"
              src="https://img.icons8.com/3d-fluency/94/open-book--v2.png"
              alt="Books"
            />
            <div>Entertainment: Books</div>
          </option>
          <option class="category-option" value="11">
            <img
              class="category-img"
              src="https://img.icons8.com/3d-fluency/94/documentary.png"
              alt="documentary"
            />
            <div>Entertainment: Film</div>
          </option>
          <option class="category-option" value="12">
            <img
              class="category-img"
              src="https://img.icons8.com/3d-fluency/94/musical-notes.png"
              alt="Music"
            />
            <div>Entertainment: Music</div>
          </option>
          <option class="category-option" value="13">
            <img
              class="category-img"
              src="https://img.icons8.com/3d-fluency/94/comedy.png"
              alt="comedy"
            />
            <div>Entertainment: Musicals & Theatres</div>
          </option>
          <option class="category-option" value="14">
            <img
              class="category-img"
              src="https://img.icons8.com/3d-fluency/94/retro-tv.png"
              alt="Television"
            />
            <div>Entertainment: Television</div>
          </option>
          <option class="category-option" value="15">
            <img
              class="category-img"
              src="https://img.icons8.com/3d-fluency/94/controller.png"
              alt="Video Games"
            />
            <div>Entertainment: Video Games</div>
          </option>
          <option class="category-option" value="16">
            <img
              class="category-img"
              src="https://img.icons8.com/3d-fluency/94/dice.png"
              alt="dice"
            />
            <div>Entertainment: Board Games</div>
          </option>
          <option class="category-option" value="17">
            <img
              class="category-img"
              src="https://img.icons8.com/3d-fluency/94/nature.png"
              alt="Nature"
            />
            <div>Science & Nature</div>
          </option>
          <option class="category-option" value="18">
            <img
              class="category-img"
              src="https://img.icons8.com/3d-fluency/94/workstation.png"
              alt="workstation"
            />
            <div>Science: Computers</div>
          </option>
          <option class="category-option" value="19">
            <img
              class="category-img"
              src="https://img.icons8.com/3d-fluency/94/calculator.png"
              alt="Mathematics"
            />
            <div>Science: Mathematics</div>
          </option>
          <option class="category-option" value="20">
            <img
              class="category-img"
              src="https://img.icons8.com/3d-fluency/94/unicorn.png"
              alt="unicorn"
            />
            <div>Mythology</div>
          </option>
          <option class="category-option" value="21">
            <img
              class="category-img"
              src="https://img.icons8.com/3d-fluency/94/soccer-ball.png"
              alt="Sports"
            />
            <div>Sports</div>
          </option>
          <option class="category-option" value="22">
            <img
              class="category-img"
              src="https://img.icons8.com/3d-fluency/94/globe--v1.png"
              alt="Geography"
            />
            <div>Geography</div>
          </option>
          <option class="category-option" value="23">
            <img
              class="category-img"
              src="https://img.icons8.com/3d-fluency/94/scroll.png"
              alt="scroll"
            />
            <div>History</div>
          </option>
          <option class="category-option" value="24">
            <img
              class="category-img"
              src="https://img.icons8.com/3d-fluency/94/us-capitol.png"
              alt="us-capitol"
            />
            <div>Politics</div>
          </option>
          <option class="category-option" value="25">
            <img
              class="category-img"
              src="https://img.icons8.com/3d-fluency/94/paint-palette.png"
              alt="Art"
            />
            <div>Art</div>
          </option>
          <option class="category-option" value="26">
            <img
              class="category-img"
              src="https://img.icons8.com/3d-fluency/94/star.png"
              alt="Celebrities"
            />
            <div>Celebrities</div>
          </option>
          <option class="category-option" value="27">
            <img
              class="category-img"
              src="https://img.icons8.com/3d-fluency/94/cat.png"
              alt="Animals"
            />
            <div>Animals</div>
          </option>
          <option class="category-option" value="28">
            <img
              class="category-img"
              src="https://img.icons8.com/3d-fluency/94/car.png"
              alt="Vehicles"
            />
            <div>Vehicles</div>
          </option>
          <option class="category-option" value="29">
            <img
              class="category-img"
              src="https://img.icons8.com/3d-fluency/94/magazine.png"
              alt="magazine"
            />
            <div>Entertainment: Comics</div>
          </option>
          <option class="category-option" value="30">
            <img
              class="category-img"
              src="https://img.icons8.com/3d-fluency/94/electronics.png"
              alt="Gadgets"
            />
            <div>Science: Gadgets</div>
          </option>
          <option class="category-option" value="31">
            <img
              class="category-img"
              src="https://img.icons8.com/3d-fluency/94/sakura.png"
              alt="sakura"
            />
            <div>Entertainment: Japanese Anime & Manga</div>
          </option>
          <option class="category-option" value="32">
            <img
              class="category-img"
              src="https://img.icons8.com/3d-fluency/94/tv-show.png"
              alt="Cartoons"
            />
            <div>Entertainment: Cartoon & Animations</div>
          </option>
        </select>

        <button type="submit" class="form-submit">Submit</button>
      </form>
      <div class="quiz-content">
        <header class="header">
          <h1 class="header-title">Trivia Quiz</h1>
          <h2 class="header-category-p">
            Category: <span class="header-category">Animals</span>
          </h2>
          <div class="header-score-container">
            <p class="header-score">
              Score: 1/<span class="num-question"></span>
            </p>
          </div>
          <p>Timer: <span class="current-time"></span></p>
        </header>
        <main class="main">
          <p class="main-question">What does XML stand for?</p>
          <div class="main-answer-container">
            <button class="main-button">
              <p class="main-answer">extended Markup Language</p>
              <p class="main-answer">Icon</p>
            </button>

            <button class="main-button">
              <p class="main-answer">extended Markup Language</p>
              <p class="main-answer">Icon</p>
            </button>

            <button class="main-button">
              <p class="main-answer">extended Markup Language</p>
              <p class="main-answer">Icon</p>
            </button>

            <button class="main-button">
              <p class="main-answer">extended Markup Language</p>
              <p class="main-answer">Icon</p>
            </button>
          </div>
        </main>
        <aside class="aside">
          <p class="aside-question-count">
            <span class="aside-curr-question">1</span> of
            <span class="num-question"></span> questions
          </p>
          <button class="aside-next" type="button" disabled>Next</button>
        </aside>
      </div>
    </div>
    <script type="module" src="scripts/game-settings.js"></script>
    <script type="module" src="scripts/starting-screen.js"></script>
    <script type="module" src="scripts/quiz-game.js"></script>
  </body>
</html>
