<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trivia Game</title>
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/general.css" />
  </head>
  <body>
    <!-- hide-quiz-content hide-game-settings hide-start-screen show-quiz-content show-game-settings show-start-screen -->
    <div class="quiz-container">
      <div class="starting-screen">
        <h1 class="starting-screen-title">Trivia Quiz</h1>
        <button class="starting-screen-btn">START</button>
      </div>

      <form action="/api/gameSettings" method="post" class="form">
        <label for="easy-input">Difficulty</label>
        <!-- select-easy select-medium select-hard -->
        <div class="difficulty-inputs">
          <label for="easy-input" class="difficulty-label">
            <input
              class="difficulty-input"
              type="radio"
              id="easy-input"
              name="difficulty"
              value="easy"
            />
            <p class="difficulty-name">Easy</p>
          </label>
          <label for="medium-input" class="difficulty-label">
            <input
              class="difficulty-input"
              type="radio"
              id="medium-input"
              name="difficulty"
              value="medium"
            />
            <p class="difficulty-name">Medium</p>
          </label>
          <label for="hard-input" class="difficulty-label">
            <input
              class="difficulty-input"
              type="radio"
              id="hard-input"
              name="difficulty"
              value="hard"
            />
            <p class="difficulty-name">Hard</p>
          </label>
        </div>
        <label for="num-questions-input">Number of Questions</label>
        <div class="num-questions-container">
          <button class="num-questions-btn" type="button" id="decrease-btn">
            -
          </button>
          <input
            id="num-questions-input"
            name="numQuestions"
            type="number"
            class="num-questions-input"
            value="5"
          />
          <button class="num-questions-btn" type="button" id="increase-btn">
            +
          </button>
        </div>

        <select name="category" id="category-input">
          <option value="">Any Category</option>
          <option value="9">General Knowledge</option>
          <option value="10">Entertainment: Books</option>
          <option value="11">Entertainment: Film</option>
          <option value="12">Entertainment: Music</option>
          <option value="13">Entertainment: Musicals & Theatres</option>
          <option value="14">Entertainment: Television</option>
          <option value="15">Entertainment: Video Games</option>
          <option value="16">Entertainment: Board Games</option>
          <option value="17">Science & Nature</option>
          <option value="18">Science: Computers</option>
          <option value="19">Science: Mathematics</option>
          <option value="20">Mythology</option>
          <option value="21">Sports</option>
          <option value="22">Geography</option>
          <option value="23">History</option>
          <option value="24">Politics</option>
          <option value="25">Art</option>
          <option value="26">Celebrities</option>
          <option value="27">Animals</option>
          <option value="28">Vehicles</option>
          <option value="29">Entertainment: Comics</option>
          <option value="30">Science: Gadgets</option>
          <option value="31">Entertainment: Japanese Anime & Manga</option>
          <option value="32">Entertainment: Cartoon & Animations</option>
        </select>

        <button type="submit" class="form-submit">Submit</button>
      </form>
      <div class="quiz-content">
        <header class="header">
          <h1 class="header-title">Trivia Quiz</h1>
          <h2 class="header-category">Category: Animals</h2>
          <div class="header-score-container">
            <p class="header-score">Score: 1/5</p>
          </div>
        </header>
        <main class="main">
          <p class="main-question">What does XML stand for?</p>
          <div class="main-answer-container">
            <button class="main-button">
              <p class="main-answer">extended Markup Language</p>
              <p class="main-answer">Icon</p>
            </button>

            <button class="main-button">
              <p class="main-answer">extended Markup Language</p>
              <p class="main-answer">Icon</p>
            </button>

            <button class="main-button">
              <p class="main-answer">extended Markup Language</p>
              <p class="main-answer">Icon</p>
            </button>

            <button class="main-button">
              <p class="main-answer">extended Markup Language</p>
              <p class="main-answer">Icon</p>
            </button>
          </div>
        </main>
        <aside class="aside">
          <p class="aside-question-count">1 of 9 questions</p>
          <button class="aside-next">Next</button>
        </aside>
      </div>
    </div>
    <script type="module" src="scripts/game-settings.js"></script>
    <script type="module" src="scripts/starting-screen.js"></script>
  </body>
</html>
