.starting-screen {
  display: block;
}
.form {
  display: none;
}
.quiz-content {
  display: none;
}
.hide-start-screen .starting-screen {
  display: none;
}
.show-start-screen .starting-screen {
  display: block;
}
.show-game-settings .form {
  display: block;
}
.hide-game-settings .form {
  display: none;
}

.hide-quiz-content .quiz-content {
  display: none;
}
.show-quiz-content .quiz-content {
  display: block;
}

/* GAME SETTINGS */
.difficulty-inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  width: 50%;
}
.difficulty-input {
  display: none;
}
.difficulty-label {
  border: 0.1rem solid black;
  display: grid;
  place-content: center;
  padding: 0.5rem 1.5rem;
}

.difficulty-label.selected {
  border-color: skyblue;
}
.num-questions-container {
  display: flex;
  gap: 0.5rem;
}
/* WebKit and Blink */
.num-questions-input::-webkit-outer-spin-button,
.num-questions-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.num-questions-input {
  --input-size: 2rem;
  border: 2px solid #3b3b3b;
  width: 4rem;
  height: var(--input-size);
  border-radius: 0.2rem;
  text-align: center;
}
.num-questions-btn {
  --button-size: 2rem;
  border: 2px solid #3b3b3b;
  width: var(--button-size);
  height: var(--button-size);
  background: transparent;
  cursor: pointer;
  border-radius: 0.2rem;
}
.num-questions-btn:hover,
.num-questions-btn:active {
  background: #eee;
}
