/* STARTING SCREEN */
.quiz-container {
  /* background-color: var(--bg-color); */
  /* border: 3px solid violet; */
  /* padding: var(--container-padding); */
}
.starting-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.hide-start-screen .starting-screen {
  display: none;
}
.starting-screen-title {
  letter-spacing: 0.5rem;
}
.starting-screen-btn {
  font-size: var(--button-font-size);
  font-weight: 600;
  background-color: var(--accent-color);
  padding: var(--button-padding);
}
/* GAME SETTINGS */

.form {
  display: none;
}
.show-game-settings .form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 0 3.2rem;
}
.game-settings-label {
  font-size: var(--heading-font-size-small);
  align-self: center;
  margin-bottom: 1.6rem;
}
.form-label {
  font-size: var(--label-font-size);
}
.difficulty-upper-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.difficulty-error {
  display: none;
  font-size: var(--error-font-size);
  color: var(--wrong-color);
}
.show-diff-error .difficulty-error {
  display: block;
}
.difficulty-inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  width: 50%;
}

.difficulty-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.difficulty-label {
  border: 0.2rem solid var(--text-color-1);
  display: grid;
  place-content: center;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 1rem;
  transition: all 0.3s;
}

.difficulty-label.selected {
  border-color: var(--primary-color);
  background-color: var(--primary-color-light);
}
.difficulty-name {
  font-size: var(--body-font-size);
}
.num-ques-upper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.num-ques-error {
  display: none;
  color: var(--wrong-color);
  font-size: var(--error-font-size);
}
.show-num-ques-error .num-ques-error {
  display: block;
}
.num-questions-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.num-questions-btn, .num-questions-input
/* WebKit and Blink */
.num-questions-input::-webkit-outer-spin-button,
.num-questions-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.num-questions-input,
.num-questions-btn {
  font-size: var(--body-font-size);
  border-radius: 1rem;
  background-color: var(--text-color-2);
}
.num-questions-input {
  --input-size: 2rem;
  padding: 1rem;
  border: 2px solid var(--text-color-1);
  width: 6rem;
  /* height: var(--input-size); */

  text-align: center;
}

.num-questions-btn {
  --button-size: 2rem;
  border: 2px solid var(--text-color-1);
  /* width: var(--button-size); */
  /* height: var(--button-size); */
  width: 4rem;
  padding: 0.5rem;
  background: transparent;
  cursor: pointer;
}
.num-questions-btn:hover,
.num-questions-btn:active {
  background: #eee;
}

.category-select,
::picker(select) {
  appearance: base-select;
}
::picker(select) {
  border-radius: 1rem;
  max-height: 20rem;
  border: 0.1rem solid var(--text-color-1);
}
.category-select,
.category-option {
  padding: 1rem;
  background-color: var(--bg-color);
}
.category-select {
  display: block;
  font-size: var(--body-font-size);
  border-radius: 1rem;
  border: 0.2rem solid var(--text-color-1);
}
selectedcontent,
.category-option {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
selectedcontent .category-img {
  display: none;
}

.option-name {
  color: var(--text-color-1);
}
.category-option:checked {
  background-color: var(--primary-color);
}
.category-option:checked .option-name {
  color: var(--text-color-2);
}

.category-select::picker-icon {
  margin: auto 0;
  color: var(--text-color-1);
}
.category-option::checkmark {
  display: none;
}
.category-option:hover {
  background-color: #eee;
}

.category-img {
  width: 3rem;
  height: auto;
}
.form-submit {
  font-size: var(--button-font-size);
  font-weight: 600;
  background-color: var(--accent-color);
  padding: 1.6rem 3.4rem;
  /* align-self: center; */
  margin-top: 1.6rem;
}

.main-button.correct {
  background-color: lightgreen;
}
.main-button.wrong {
  background-color: lightcoral;
}
